.container-fluid {
    width: 992px;
}

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

#nav_img {
    width:100px;
    height:100px;
}
