.container-fluid {
    width: 100%;
}

.nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}

#nav_img {
    width: 80px;
    height: 80px;
}
